* {
  box-shadow: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}
#container {
  position: relative;
  top: 200px;
}

nav {
  background: #fff;
  padding: 5px 20px;
  position: fixed;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.22);
}

ul {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}
.dropdown .dropdown-item {
  border: none;
  border-radius: 0;
  margin-top: 3px;
  background-color: #222;
  color: #f1f1f1;
}
#adminContainer {
  position: relative;
  top: 110px;
}

a:hover {
  color: #ff5733;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
}
.nenu li a {
  display: block;
}

.logo a {
  font-size: 20px;
}

#dropdown-link {
  color: #ff5733;
  background: none;
}

#dropdown-link:hover {
  background-color: #ff5733;
  color: #fff;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

.button:hover {
  color: #222;
}

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,
.bars::after {
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

.bars::before {
  top: 5px;
}

.bars::after {
  bottom: 5px;
}

/* Tablet Menu */

@media all and (min-width: 500px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }
  .button a {
    text-decoration: none;
    padding: 7px 15px;
    background: #ff5733;
    border: 1px solid #ff5733;
    border-radius: 50em;
  }
  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    transition: all 0.25s;
  }

  .button:not(.secondary) a:hover {
    background-color: #ff5733;
    border-color: #ff5733;
  }

  .activepage {
    color: #ff5733;
  }

  .card-title {
    color: #ff5733;
  }

  .button.secondary a:hover {
    color: #ddd;
  }

  @media all and (min-width: 768px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }

    .item {
      order: 1;
    }

    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }

    .menu li.button {
      padding-right: 0;
    }
  }
}
